.banner-area{
    background-image: url(../../../../image/banner-top.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner-text h1{
    color: #fff;
    font-size: 60px;
}

.banner-text p{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}