
.order-review{
    box-shadow: 4px 3px 5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
}

.order-banner{
    background-image: url(../../../image/order-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-area{
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-bottom: 60px;
    padding: 10px;

}
.price-area ul{
    list-style: none;
    margin-left: 0;

}

.last-child{
    border-bottom: 3px solid #000;
}

.price-area ul li{
    margin-bottom: 7px;
    border-bottom: 1px solid #000;
}

